  <header class="masthead" style="background-image:Url(@(ImgUrl==null?"/img/home-bg.jpg":ImgUrl)); bottom:30px;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="@((Author != null && PostedDate != default(DateTime)) ? "post-heading" : "site-heading" )">
                <h1>@Heading</h1>
                @if (SubHeading != null)
                {
                <span class="subheading">@SubHeading</span>
                }
                @if (Author != null && PostedDate != null) 
                {
                <span class="meta">Posted by <a href="#">@Author</a> on @PostedDate.ToShortDateString()</span>
                }
            </div>
        </div>
      </div>
    </div>
  </header>

  @code{
        [Parameter] public string Heading { get; set; }
        [Parameter] public string SubHeading { get; set; }
        [Parameter] public string Author { get; set; }
        [Parameter] public DateTime PostedDate { get; set; }
        [Parameter] public string ImgUrl { get; set; }
  }